@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #f4f6f9;
    position:relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/*------- sidebar ---------*/

.sidebar {
    width: 270px;
    height: 100vh;
    background: #ffffff;
    padding: 15px;
    position: fixed;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: left;
    z-index: 200;
}

.sidebar .title{
	text-align: center;
	margin-top: 15px;
	font-weight: 550;
	font-size: 26px;
}

.sidebar .sidebar-profile {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-profile img {
    width: 80px;
    height: 80px;
    border-radius: 20%;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.1);
}

.sidebar .sidebar-profile #name{
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 18px;
}

.sidebar .sidebar-profile #role{
	font-size: 14px;
	color: #808080
}

.sidebar .features{
	display:flex;
    flex-direction: column;
    align-items: left;
}

.features i{
margin-right: 10px;
}

.sidebar .features a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    margin: 5px 0;
    margin-left: 20px;
    border-radius: 5px;
}
.sidebar a:hover, .sidebar .active {
    background: #f0f3fb;
}

.sidebar #log-out{
	margin-top: 210px;
}

/*------- Navigation bar ---------*/

.nav-container {
   display: flex;
   margin-left: 240px;
   margin-bottom: 20px;
}
.menu-bar {
	position: fixed;
	z-index: 50;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 105px;
    padding: 10px 20px;
    width: 100vw;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.1);
}

.user-profile {
   display: flex;
   align-items: center;
   gap: 15px;
   margin-right: 260px;
   padding: 8px 15px;
   border-radius: 35px;
   cursor: pointer;
}

.user-profile:hover{
	background-color: #f0f3fb;
}

.user-profile:active{
	background-color: #dee5fa;
}

.menu-bar #bell {
   font-size: 20px;
   cursor: pointer;
   margin-right:-95px;
   padding: 10px 12px;
   border-radius: 100%;
 }
 
 .menu-bar #bell:hover {
 	background-color: #f0f3fb;
 }
 
 .menu-bar #bell:active{
	background-color: #dee5fa;
}

 .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }
 
.dropdown-menu {
    display: none;
    position: absolute;
    top: 80px; 
    right: 290px;
    background-color: #f3f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    border: none;
    overflow: hidden;
    z-index: 1000;
    width: 150px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu a {
	font-size: 15px;
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #d5d5d5;
}

.dropdown-menu a i{
	margin-right: 12px;
	font-size: 15px;
}


/*------- Main Content---------*/

.content {
    margin-left: 270px;
    padding: 20px;
    margin-top: 70px;
}

.content #main-title{
	font-weight: 550;
	font-size: 20px;
	margin: 20px 40px 30px 5px;
	color: #444444;
}

.table-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tabile-container h4{
    font-weight: bold;
    font-size: 50px;
}
.table thead {
    background: #eef1f7;
}
.table th  {
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.table td {
    
    text-align: center;
    position: relative;
} 
.employee-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 40px;
}

.search-toolbar {
    background: #dde3f1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60px;
}

.search-box {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 40px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 14px;
    height: 40px;
}

.search-box i {
    color: grey;
    margin-right: 5px;
}

.toolbar-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.toolbar-icons span {
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.toolbar-icons span:hover {
 	background-color: #c5d1f1;
 }
 
.toolbar-icons span:active{
	background-color: #bac6e5;
}

#add-icon {
    color: #4caf50;
   	padding: 10px 12px;
   	border-radius: 100%;
}

#download-icon {
    color: #2196f3;
   	padding: 10px 12px;
   	border-radius: 100%;
   	font-size: 26px;	
}

#update-icon {
    color: #6b7bef;
}

#delete-icon {
    color: #fe5b0e;
}        
        
.toolbar-icons .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid#fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.toolbar-icons .btnlogin-popup:hover{
    background-color: #05190A;
    color: #fff; 
}    
 
/*------- Insert-popup ---------*/  
  
.cover_box {
    position: fixed;
    left:50%;
    top: 50%;
    z-index: 100;
    translate: -50% -50%;
    background: transparent;
    border: 2px solid#c9c8c8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    overflow: hidden;
    transition: transform .5s ease, height .2s ease, border-color 0.5s ease;
    padding: 10px 20px;
}
    
.cover_box-active{
	transform: scale(1);
}
    
.cover_box:hover{
    border-color: #fff;
    animation: border-glow is infinite alternate;
}

@keyframes border-glow{
    from{
        border-color: #f6f8f6;
        box-shadow: 0 0 20pxrgba(0, 0, 0, 0.5);
    }
    to{
        border-color: #ffffff;
        box-shadow: 0 0 20pxrgba(255, 255, 255, 1);
    }
}

.cover_box active{
    height: 520px;
}

.cover_box .form-box{
    width: 100%;
    padding: 40px;
}

.cover_box .form-box-login{
    transition: tranform.50s ease;
    transform: translateX(0);
}

.cover_box.active .form-box-login{
    transition: none;
    transform: translatex(-400px);
}

.cover_box .icon-close{
    position:absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: #05190A;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #05190A;
    text-align: center;
}

.input-box{
    position: relative;
    width: 350px;
    height: 40px;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #05190A;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -30%;
} 

.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: 1px solid #05190A;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    color: #05190A;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.btn{
    width: 100%;
    height: 50px;
    background-color: #05190A;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}    
